#ARCHIVO DE CONFIGURACION DE LIMITACIONES

#MAXIMO USO PERMITIDO DE CPU POR SESION
MAX_CPU=30.0

#MAXIMO USO PERMITIDO DE MEMORIA POR SESION
MAX_MEMORIA=40.0

#CANTIDAD MAXIMA DE PROCESOS POR SESION
MAX_CANTIDAD_PROCESOS=10

#MAXIMA CANTIDAD DE SOCKETS POR SESION
MAX_CANTIDAD_SOCKETS=10

#MAXIMA CANTIDAD DE ARCHIVOS ABIERTOS POR SESION
MAX_CANTIDAD_ARCHIVOS=20
